body
{
	height: 100%;
    background-color: black;
    color: white;
}
#title
{
	height: 10%;
}

#board
{
	height: 85%
}

canvas
{
	border:2px solid #c3c3c3;
}

.options 
{
    position: absolute;
    font-size:x-large;
}

#spScore {
    position: absolute;
    font-size: xx-large;
}